<div class="container">
  <h1>-My list-</h1>
  <div class="my-list">

    <div class="head-list">
      <div class="item">
        <strong><p>Item</p></strong>
      </div>
      <div class="qty-price-amt">
        <strong><p>Qty</p></strong>
        <strong><p>Price</p></strong>
        <strong><p>Amt</p></strong>
      </div>
    </div>


    <% category = [] %>
    <% ingredient = [] %>
    <% amt = 0 %>
    <% @basket.detail_baskets.each do |detail| %>


      <!-- Sorry pour le code :( -->

      <% if detail.ingredient_recipe %>
        <% quantity = detail.ingredient_recipe.ingredient_quantity %>
        <% ingredient_category = detail.ingredient_recipe.ingredient.category %>
        <% name = detail.ingredient_recipe.ingredient.name %>
        <% unit = detail.ingredient_recipe.ingredient.unit %>
        <% price = detail.ingredient_recipe.ingredient.unit_price %>
      <% else %>
        <% quantity = detail.ingredient_quantity %>
        <% ingredient_category = detail.ingredient.category %>
        <% name = detail.ingredient.name %>
        <% unit = detail.ingredient.unit %>
        <% price = detail.ingredient.unit_price %>
      <% end %>


      <% unless category.include?(ingredient_category) %>

        <div class="ingredient-category">
          <h5><strong>----------  <%= ingredient_category.upcase %>  ----------</strong></h5>
        </div>

      <% end %>
      <% category << ingredient_category %>

      <div class="body-list">
        <div class="item">
          <strong><%= name.capitalize %></strong>
        </div>

          <%#= link_to detail_basket_path(id:detail.id),method: :delete, class:'basket-bin' do %>
            <!-- <i class="fas fa-trash-alt"></i> -->
          <%# end %>

        <div class="qty-price-amt">
          <p><%= quantity.round(1) %> <%= unit %></p>
          <p><%= price %> $/ <%= unit %> </p>
          <p><%= (quantity * price).round(2) %>
          <% amt += (quantity * price).round(2) %> $
          </p>
        </div>
      </div>

    <% end %>

    <div class="footer-list">
      <div class="item">
        <strong><p>SubTotal</p></strong>
      </div>
      <div class="qty-price-amt">
        <strong><h5><%= amt %> $ </h5></strong>
      </div>
    </div>

  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

<button class="btn-primary" id="orderbutton">Order</button>
<img src="https://media.giphy.com/media/L05HgB2h6qICDs5Sms/giphy.gif" alt="this slowpoke moves"  width="250" alt="404 image" id="gif" class="d-none"/>
</div>
