<% content_for :meta_title, "#{@recipe.name} - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @recipe.description %>
<% content_for :meta_image, cl_image_path(@recipe.photo.key) %>
<div class="container">
  <div>
    <%= cl_image_tag @recipe.photo.key, height: 300, width: 400, crop: :fill,  class: "image-show"%>

    <div class="stage coeur-show">
      <div class="heart"></div>
    </div>

    <%# a mettre plus gros, en rose, position absolute %>
  </div>
  <h1 class="title-show"><%= @recipe.name %></h1>
  <% if @user %>
    <% if @user.moderator %>
      <%= link_to edit_recipe_path(id:@recipe.id) do %>
        <i class="far fa-edit"></i>
        Edit this Recipe
      <% end %>
    <% end %>
  <% end %>
  <div class="card-show card-recette">
    <div class="show-margin">
      <div class="enter-number-person">
        <p><strong></strong></p>
        <%= simple_form_for @recipe, html: { id: "simple-form-person-number"} do |f| %>
          <%= f.input :person_number, label: false, collection: 1..8, include_blank: false, include_hidden: false, input_html: { class: "enter-number-person-box" }  %>
          <%= f.button :submit, value: "Adjust" , class:"btn-form btn-person"%>
        <% end %>

      <%= link_to detail_baskets_path(recipe: @recipe.id, person: @recipe.person_number), method: :post, class:"text-decoration-none" do %>
        <div class="btn-cart btn-recette">
          <p class="color-white"><i class="fas fa-cart-arrow-down"></i></p>
        </div>
      <% end %>
      </div>

      <div class="recette">
        <strong><p id="titre">Ingredients : </p></strong>
        <% @recipe.ingredient_recipes.each do |ingredient_recipe| %>
          <li>
            <span class='ingredient-recipe-quantity'> <%= (ingredient_recipe.ingredient_quantity * @recipe.person_number).round(2) %> </span>
            <%= ingredient_recipe.ingredient.unit %>
            <%= ingredient_recipe.ingredient.name %>
          </li>
        <% end %>
        <br>
        <strong><p id="titre">Recipe :</p></strong>
        <div class="etape">
          <ol>
          <% @recipe.description.split(".").each do |step| %>
            <div class="container">
              <li class="text-justify"><%= step %></li>
              <br>
            </div>
          <% end %>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <%= link_to detail_baskets_path(recipe: @recipe.id, person: @recipe.person_number), method: :post, class:"text-decoration-none" do %>
    <div class="btn-show">
      <p class="color-white">Add to my basket</p>
    </div>
  <% end %>
</div>
