<div class="container">
  <div>
    <%= cl_image_tag @recipe.photo.key, height: 300, width: 400, crop: :fill,  class: "image-show"%>
  </div>
  <h1 class="title-show"><%= @recipe.name %></h1>
  <div class="card-show">
    <div class="show-margin">
      <div class="enter-number-person">
        <p><strong>Number of Person: </strong></p>
        <div id="enter-number-person-box">
          <%= simple_form_for @recipe do |f| %>
            <%= f.input :person_number, label: false, collection: 1..9, include_blank: false, include_hidden: false %>
          <% end %>
        </div>
      </div>
      <div class="recette">
        <strong><p id="titre">Ingredients : </p></strong>
        <% @recipe.ingredient_recipes.each do |ingredient_recipe| %>
          <li>
            <span class='ingredient-recipe-quantity'> <%= (ingredient_recipe.ingredient_quantity * @recipe.person_number).round%> </span>
            <%= ingredient_recipe.ingredient.unit %>
            <%= ingredient_recipe.ingredient.name %>
          </li>
        <% end %>
        <br>
        <strong><p id="titre">Recipe :</p></strong>
        <div class="etape">
          <ol>
          <% @recipe.description.split(".").each do |step| %>
            <div class="container">
              <li class="text-justify"><%= step %></li>
              <br>
            </div>
          <% end %>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <%= link_to detail_baskets_path(recipe: @recipe.id, person: @recipe.person_number), method: :post, class:"text-decoration-none" do %>
    <div class="btn-show">
      <p class="color-white">Add to card</p>
    </div>
  <% end %>
</div>
