<div class="navbar">
    <%= link_to '<i class="fas fa-home text-decoration-none text-white h4"></i>'.html_safe, home_path, class:'padding' %>
    <%= link_to '<i class="fas fa-search text-decoration-none text-white h4"></i>'.html_safe, '#',  class:'padding' %>
    <%= link_to '<i class="fas fa-shopping-basket text-decoration-none text-white h4"></i>'.html_safe, detail_baskets_path,  class:'padding' %>
  <div>
    <% if user_signed_in? %>
      <div class="nav-item dropup">
     <!--   <%= image_tag "https://images.affiches-et-posters.com//albums/3/47831/affiche-film-avatar.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          -->
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= image_tag "https://images.affiches-et-posters.com//albums/3/47831/affiche-film-avatar.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>



        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "My Profile", user_path(current_user), class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </div>
    <% else %>
        <%= link_to '<i class="fas fa-user text-decoration-none text-white h4"></i>'.html_safe, new_user_session_path %>
    <% end %>
  </div>
</div>
