<div class='container home-container'>

  <div class='row'>
    <div class='col-12'>
      <%= link_to my_list_path, class:'text-decoration-none' do %>
        <div class='card-banner' id='card-banner-list'>
          <span class='card-banner-text color-black'><strong class="title-card-home">My List</strong></span>
        </div>
      <% end %>
    </div>
  </div>

  <div class='row'>
    <div class='col-12'>
      <%= link_to recipes_path, class:'text-decoration-none' do %>
        <div class='card-banner' id='card-banner-recipes'>
          <span class='card-banner-text color-white'><strong class="title-card-home">Recipes</strong></span>
        </div>
      <% end %>
    </div>
  </div>

  <div class='row'>
    <div class='col-12'>
      <%= link_to category_path, class:'text-decoration-none' do %>
        <div class='card-banner' id='card-banner-ingredients'>
          <span class='card-banner-text color-black'><strong class="title-card-home">Shop</strong></span>
        </div>
      <% end %>
    </div>
  </div>

  <div class='row'>
    <div class='col-12'>
      <div class='card-banner' id="card-best-rec">
        <span class='card-banner-text'>Top rated recipes</span>
      </div>
    </div>
  </div>

  <div class='container-scroll'>
    <% @recipes.sample(5).each do |recipe|  %>
      <div class='row'>
        <div class='col'>
          <%= link_to recipe_path(recipe), class:"text-decoration-none" do %>
            <div class="card-scroll">
              <%= cl_image_tag recipe.photo.key, crop: :fill,  class: "recipe-image-home"%>
              <div>
                <h5 class="card-title-best-recipe color-white" id="body-scroll"><%= recipe.name %></h5>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
      
  <!--Effacer quand la home est terminée-->
  <br><br><br><br>
</div>
