<div class="container">
  <h1>-My list-</h1>
  <div class="my-list">

<!--     <div class="btn-add-an-ingredient">
      <%#= link_to ingredients_path do %>
        <h4 class="btn-show color-white"><i class="fas fa-search"></i></h4>
      <%# end %>
    </div> -->
    

  <div class="alert ugo" role="alert">
    <%= alert %>
    <div class="my-list-pop-up">
      <h4>LET'S TRY <span class="your-list">YOUR LIST</span> !</h4> <br>
      <h3>it's <span class="simple">SIMPLE</span>, <br><span class="fast">FAST</span> <br>and <span class="easy">EASY</span> ! <br><br><br>
      This property suggest your shopping list according to <span>YOUR PREFERENCES</span> and <span>HABITS</span> </h3>
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
<!--       <h2 class="try-it"> try it !</h2> -->
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  
    <div class="head-list">
      <div class="item">
        <strong><p>Item</p></strong>
      </div>
      <div class="qty-price-amt">
        <strong><p>Qty</p></strong>
        <strong><p>Price</p></strong>
        <strong><p>Amt</p></strong>
      </div>
    </div>


    <% category = [] %>
    <% ingredient = [] %>
    <% amt = 0 %>
    <% @final_basket.each do |detail| %>
    
      <% unless category.include?(detail[:category]) %>

        <div class="ingredient-category">
          <h5><strong>-----  <%= detail[:category].upcase %>  -----</strong></h5>
        </div>

      <% end %>
      <% category << detail[:category] %>

        <div class="body-list">
          <div class="item">
            <strong><%= detail[:name].capitalize %></strong>
          </div>



          <div class="qty-price-amt">
            <p><%= detail[:quantity].round(1) %> <%= detail[:unit] %></p>
            <p><%= detail[:price] %> $/ <%= detail[:unit] %> </p>
            <p><%= (detail[:quantity] || 0 * detail[:price]).round(2) %>
            <% amt += (detail[:quantity] || 0 * detail[:price]).round(2) %> $
            </p>
          </div>
        </div>


    <% end %>

    <div class="footer-list">
      <div class="item">
        <strong><p>SubTotal</p></strong>
      </div>
      <div class="qty-price-amt">
        <strong><h5><%= amt %> $ </h5></strong>
      </div>
    </div>

  </div>
  

  <%############ popup %>
  <%= link_to order_path  do %>
    <h4 class="btn-show color-white">Order</h4>
  <% end %>






  <br>
  <br>
  <br>


